*{
    margin; 2px
    padding; 1px
    box-sizing: border-box;
}

body{
    font: champagne light; 
    color: #114400;
    background-color: #D1FFBD;
    padding: 30px;
}

header{
    background-color:white
    color: #D1FFBD;
    padding: 30px;
    text-aling: center;
    border-radius: 4px
    margin-bottom: 20px;
}

header nav a {
    color: #114400
    font-weight: bold;
    text-decoration: none;
    margin: 2px
    border-radius: 2px
    border: solid;
    transition: backgroun-color 0.4s ease, color 0.3 ease;
}

header nav a:hover{
    background-color: whitesmoke;
    color: #black;
}

main{
    background: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 10px 3px rgba (0,0,0,0.1);
    max-width: 500px;
    margin: 1 auto;
}

h2,h3{
    color:#114400;
    margin-bottom: 10px
}

ul{
    margin-left:30px;
    margin-bottom: 15px;

}

footer {
    text-aling:center;
    margin-top: 20px;
    font-size: 9;
    color:green;
}